name: build
on: 
  push:
    branches:
    - main

env:
  versionMm: '0.1'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Login to ghcr
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{github.actor}}
        password: ${{github.token}}

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ghcr.io/${{github.repository_owner}}/tsproxy
        labels: |
          org.opencontainers.image.vendor=A6k Ltd
          org.opencontainers.image.authors=andy@a6k.dev
          org.opencontainers.image.ref.name=tsproxy
          org.opencontainers.image.title=tsproxy
          org.opencontainers.image.description=tailscale proxy
        tags: |
          type=raw,value=latest
          type=raw,value=${{env.versionMm}}.${{github.run_number}}

    - name: Docker build and push
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: ${{steps.meta.outputs.tags}}
        labels: ${{steps.meta.outputs.labels}}